<!-- =================================
            VIEW CONTACT
================================== -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">

    <!-- TITULO -->
    <div class="font-bold text-3xl">
        <span class="text-900">MINEXA S.R.L. </span>
        <span class="text-blue-600">Contáctanos</span>
    </div>
    <div class="text-700 mb-3">Escribenos y lo antes posible nos pondremos en contacto contigo...</div>

    <!-- SECTOR LOGIN -->
    <div class="flex justify-content-center">

        <div class="surface-card p-6 shadow-5 border-round w-full lg:w-6 mt-5">
            <div class="text-left">

                <!-- EMAIL -->
                <label for="email" class="block text-900 font-medium mb-2">Email</label>
                <input id="email" type="text" [(ngModel)]="email" placeholder="Ingrese su Correo Electrónico..."
                    pInputText class="w-full mb-3" required>

                <!-- MENSAJE -->
                <label for="mensaje" class="block text-900 font-medium mb-2">Mensaje</label>
                <textarea name="" id="" [(ngModel)]="mensaje" rows="5" cols="30" pInputTextarea class="w-full"
                    placeholder="Ingrese el Mensaje..." required></textarea>

                <button pButton pRipple label="Enviar" icon="pi pi-envelope" class="w-full mt-5"
                    (click)="sendMensaje()"></button>
            </div>
        </div>
    </div>
</div>