<!-- =================================
            VIEW PRINCIPAL
================================== -->
<div class="layout-wrapper" [ngClass]="containerClass">

  <!-- TOP-BAR -->
  <app-topbar [roles]="roles" [rol]="rol" [load]="load" (changeRol)="updateRol($event)" (changeRoles)="reload()"
    (eventOption)="showTopOption($event)"></app-topbar>
  <app-config></app-config>
  <app-help></app-help>
  <app-user [usuario]="usuario"></app-user>

  <!-- SIDE-BAR -->
  <div class="layout-sidebar shadow-5">
    <app-sidebar></app-sidebar>
  </div>

  <!-- MAIN (CONTENIDO) -->
  <div class="layout-main-container">
    <div class="card layout-main shadow-5">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
</div>

<!-- MASCARA -->
<div class="layout-mask"></div>