<!-- =================================
        VIEW DIALOG MINERAL
================================== -->
<p-dialog [(visible)]="estado" closeOnEscape="true" closable="true" header="REGISTRO DE MINERALES" [modal]="true"
    [style]="{'width': '75vw'}" styleClass="p-fluid dialog-responsive custom-header">

    <!-- SECTOR BODY -->
    <ng-template pTemplate="content">
        <hr>
        <div *ngIf="!loading">

            <!-- BODY-HEADER -->
            <div class="grid flex justify-content-center">
                <div class="col-10">

                    <!-- TIPO DE MINERAL -->
                    <div class="grid field">
                        <div class="col-4 text-right pt-2">
                            <label for="idTipoMineral">Tipo de Mineral:</label>
                        </div>
                        <div class="col-6">
                            <p-dropdown [disabled]="disabled" id="idTipoMineral" [options]="tipoMinerales"
                                [(ngModel)]="mineral.idTipoMineral" optionValue="id" optionLabel="nombre"
                                (onChange)="showModal()" />
                            <small class="p-error" *ngIf="!valIdTipoMineral()">Requerido.</small>
                        </div>
                        <div class="col-1">
                            <p-button *ngIf="!disabled" pRipple icon="pi pi-eye" [text]="true" [raised]="true"
                                severity="primary" (click)="showModal()" />
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- BODY DETAIL -->
            <div class="grid">

                <!-- COL-I -->
                <div class="col-12 md:col-4">
                    <div class="flex flex-column gap-2">
                        <div class="card shadow-3" style="min-height: 550px;">

                            <!-- IMG-MINERAL -->
                            <div class="field">
                                <label for="foto">Foto</label>
                                <input [disabled]="disabled" type="file" pInputText id="foto"
                                    (change)="loadImg($event)" />
                                <small class="p-error" *ngIf="!imgValida">Requerido, jpg, png max:2MB.</small>
                                <div *ngIf="imgUrl" class="pt-3">
                                    <img [src]="imgUrl" alt="Vista previa de la imagen"
                                        style="width: 100%; height: 350px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- COL-II -->
                <div class="col-12 md:col-8">
                    <div class="card shadow-3" style="min-height: 550px;">
                        <!-- CODIGO -->
                        <div class="field">
                            <label for="codigo">Codigo</label>
                            <input [disabled]="disabled" type="text" pInputText id="codigo" [(ngModel)]="mineral.codigo"
                                class="w-full" />
                            <small class="p-error" *ngIf="!valCodigo()">Requerido, Alfanumérico de 1-20.</small>
                        </div>

                        <!-- ABREVIATURA -->
                        <div class="field">
                            <label for="abreviatura">Abreviatura</label>
                            <input [disabled]="disabled" type="text" pInputText id="abreviatura"
                                [(ngModel)]="mineral.abreviatura" class="w-full" />
                            <small class="p-error" *ngIf="!valAbreviatura()">Requerido, Alfanumérico de
                                1-20.</small>
                        </div>

                        <!-- NOMBRE -->
                        <div class="field">
                            <label for="nombre">Nombre</label>
                            <input [disabled]="disabled" type="text" pInputText id="nombre" [(ngModel)]="mineral.nombre"
                                class="w-full" />
                            <small class="p-error" *ngIf="!valNombre()">Requerido, Alfanumérico de 1-50.</small>
                        </div>

                        <!-- DESCRIPCIÓN -->
                        <div class="field">
                            <label for="descripcion">Description</label>
                            <textarea [disabled]="disabled" pInputTextarea id="descripcion"
                                [(ngModel)]="mineral.descripcion" rows="3" cols="20" class="w-full"></textarea>
                            <small class="p-error" *ngIf="!valDescripcion()">Opcional, Alfanumérico de
                                0-200.</small>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- BODY FOOTER -->
            <div>
                <p>
                    <b>USUARIO: </b> {{usuario.persona.nombre}} {{usuario.persona.apePaterno}}
                    {{usuario.persona.apeMaterno}}<br>
                    <b>FECHA: </b> {{ fechaHora | date:'dd/MM/yyyy' }}
                    <b>HORA: </b> {{ fechaHora | date:'HH:mm:ss' }}
                </p>
            </div>
        </div>
        <!-- LOADING -->
        <div *ngIf="loading">
            <div class="card  mt-3 flex flex-column justify-content-center align-items-center" style="height: 30vh;">
                <p-progressSpinner ariaLabel="loading" />
                <span class="loader ps-5">Cargando...</span>
            </div>
        </div>
    </ng-template>

    <!-- SECTOR FOOTER -->
    <ng-template pTemplate="footer">
        <app-modal-mineral-complejo (changeMineralComplejo)="generarDatos($event)"></app-modal-mineral-complejo>
        <div class="grid custom-footer">
            <div class="col-6 text-left">
                <div *ngIf="saving">
                    <h5>Guardando...</h5>
                    <span class="saving"></span>
                </div>
            </div>
            <div class="col-6">
                <span *ngIf="!loading">
                    <p-button *ngIf="disabled && hasPermission('02.03.06')" pRipple label="Imprimir Reporte"
                        icon="pi pi-print" [text]="true" [raised]="true" severity="info" (click)="report()" />
                    <p-button *ngIf="!disabled && (hasPermission('02.03.01') || hasPermission('02.03.03'))" pRipple
                        label="Guardar" icon="pi pi-check" [text]="true" [raised]="true" severity="primary"
                        [hidden]="saving" (click)="save()" />
                </span>
                <p-button pRipple label="Cancelar" icon="pi pi-times" [text]="true" [raised]="true" severity="warning"
                    (click)="cancel()" />
            </div>
        </div>
    </ng-template>
</p-dialog>