<!-- =================================
        VIEW INDEX MINERAL
================================== -->
<!-- SECTOR HEADER -->
<div class="card-header shadow-5">
    <h3>Gestión de Minerales</h3>
</div>
<hr>

<!-- SECTOR BODY -->
<div *ngIf="!loading">
    <div class="card-body shadow-5">

        <!-- BODY-HEADER -->
        <div class="grid flex justify-content-center">
            <div class="col-10">

                <!-- TIPO-MINERAL -->
                <div class="grid field">
                    <div class="col-4 text-right pt-2">
                        <label for="tipoMineral">Tipo Mineral:</label>
                    </div>
                    <div class="col-6">
                        <p-dropdown id="tipoMineral" [options]="tipoMinerales" optionValue="id" optionLabel="nombre"
                            (onChange)="filter($event.value)" [style]="{'width': '100%'}" placeholder="TODOS"
                            [showClear]="true" (onClear)="clearFilter()" />
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- BODY-DETAIL -->
        <!-- TABLE -->
        <p-table #dt [value]="minerales" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            [globalFilterFields]="['codigo','abreviatura','nombre']" [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <!-- TABLE BUTTONS -->
            <ng-template pTemplate="caption">
                <div class="grid">
                    <div class="col-12 sm:col-8">
                        <!-- NUEVO -->
                        <p-button *ngIf="hasPermission('02.03.01')" pRipple [outlined]="true" [raised]="true"
                            severity="primary" label="Nuevo" icon="pi pi-plus" class="ml-2" (click)="showCreate()" />
                        <!-- REPORTE -->
                        <p-button *ngIf="hasPermission('02.03.07')" pRipple [outlined]="true" [raised]="true"
                            [text]="true" severity="info" label="Reporte XLS" icon="pi pi-print" class="ml-2"
                            (click)="exportXLS()" />
                    </div>
                    <div class="col-12 sm:col-4 text-right">
                        <!-- BUSCAR -->
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..."
                                class="w-full" />
                        </span>
                    </div>
                </div>
            </ng-template>

            <!-- TABLE-HEADER -->
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id" style="width:10%" class="text-center">
                        FOTO <p-sortIcon field="id" />
                    </th>
                    <th pSortableColumn="codigo" style="width:15%">
                        CODIGO <p-sortIcon field="codigo" />
                    </th>
                    <th pSortableColumn="abreviatura" style="width:20%">
                        ABREBIATURA <p-sortIcon field="abreviatura" />
                    </th>
                    <th pSortableColumn="nombre" style="width:35%">
                        NOMBRE <p-sortIcon field="nombre" />
                    </th>
                    <th style="width:20%;">
                        OPCIONES
                    </th>
                </tr>
            </ng-template>

            <!-- TABLE BODY -->
            <ng-template pTemplate="body" let-mineral>
                <tr>
                    <td class="text-center">
                        <img [src]="mineral.foto"
                            style="width: 70px; height:70px; border-radius:50px; border:3px solid #dcdcdc" />
                    </td>
                    <td>{{ mineral.codigo }}</td>
                    <td>{{ mineral.abreviatura }}</td>
                    <td>{{ mineral.nombre }}</td>
                    <td>
                        <p-button *ngIf="hasPermission('02.03.02')" pRipple icon="pi pi-eye" class="mr-2"
                            [rounded]="true" [outlined]="true" severity="primary" (click)="showShow(mineral.id)" />
                        <p-button *ngIf="hasPermission('02.03.03')" pRipple icon="pi pi-pencil" class="mr-2"
                            [rounded]="true" [outlined]="true" severity="success" (click)="showEdit(mineral.id)" />
                        <p-button *ngIf="hasPermission('02.03.04')" pRipple icon="pi pi-trash" severity="danger"
                            [rounded]="true" [outlined]="true" (click)="showDelete(mineral.id)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<hr>

<!-- SECTOR FOOTER -->
<div class="card-footer">
    <app-dialog-mineral (changeMineral)="show()"></app-dialog-mineral>
    <p-confirmDialog [style]="{ width: '450px' }" />
    <!-- NOTIFICACIÓN -->
    <p-toast />
</div>


<!-- LOADING -->
<div *ngIf="loading">
    <div class="card  mt-3 flex flex-column justify-content-center align-items-center" style="height: 50vh;">
        <p-progressSpinner ariaLabel="loading" />
        <span class="loader ps-5">MINEXA S.R.L.</span>
    </div>
</div>