<!-- =================================
        VIEW INDEX DEDUCCION-COOP
================================== -->
<!-- SECTOR BODY -->
<div *ngIf="!loading">
    <h5>Gestión de Deducciones de Cooperativa</h5>
    <hr>
    <!-- BODY DETAIL -->
    <!-- TABLE -->
    <p-table #dt [value]="deduccionesCoop" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        [globalFilterFields]="['codigo','concepto', 'porcentaje','voluntario']" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

        <!-- TABLE BUTTONS -->
        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col-12 sm:col-8 flex">
                    <!-- NUEVO -->
                    <p-button *ngIf="hasPermission('05.04.08.01')" pRipple [outlined]="true" [raised]="true"
                        severity="primary" label="Nuevo" icon="pi pi-plus" class="ml-2" (click)="showCreate()" />
                    <!-- REPORTE -->
                    <p-button *ngIf="hasPermission('05.04.08.07')" pRipple [outlined]="true" [raised]="true"
                        [text]="true" severity="info" label="Reporte XLS" icon="pi pi-print" class="ml-2"
                        (click)="exportXLS()" />
                </div>
                <div class="col-12 sm:col-4 text-right">
                    <!-- BUSCAR -->
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Buscar..." class="w-full" />
                    </span>
                </div>
            </div>
        </ng-template>

        <!-- TABLE HEADER -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="concepto" style="width:45%">
                    DEDUCCIÓN <p-sortIcon field="concepto" />
                </th>
                <th pSortableColumn="porcentaje" style="width:15%">
                    [ % ]<p-sortIcon field="porcentaje" />
                </th>
                <th pSortableColumn="voluntario" style="width:15%">
                    VOL.<p-sortIcon field="voluntario" />
                </th>
                <th style="width:25%;">
                    OPCIONES
                </th>
            </tr>
        </ng-template>

        <!-- BODY TABLE -->
        <ng-template pTemplate="body" let-deduccion>
            <tr>
                <td>
                    <span class="prefijoRow">CÓDIGO: </span>{{ deduccion.codigo }} <br>
                    <span class="prefijoRow">CONCEPTO: </span>{{ deduccion.concepto }}
                </td>
                <td>{{ deduccion.porcentaje }}&nbsp;%</td>
                <td>{{ deduccion.voluntario? 'SI':'NO'}}</td>
                <td>
                    <p-button *ngIf="hasPermission('05.04.08.02')" pRipple icon="pi pi-eye" class="mr-2"
                        [rounded]="true" [outlined]="true" severity="primary" (click)="showShow(deduccion)" />
                    <p-button *ngIf="hasPermission('05.04.08.03')" pRipple icon="pi pi-pencil" class="mr-2"
                        [rounded]="true" [outlined]="true" severity="success" (click)="showEdit(deduccion)" />
                    <p-button *ngIf="hasPermission('05.04.08.04')" pRipple icon="pi pi-trash" severity="danger"
                        [rounded]="true" [outlined]="true" (click)="showDelete(deduccion.id)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- LOADING -->
<div *ngIf="loading">
    <div class="card  mt-3 flex flex-column justify-content-center align-items-center" style="height: 50vh;">
        <p-progressSpinner ariaLabel="loading" />
        <span class="loader ps-5">MINEXA S.R.L.</span>
    </div>
</div>

<!-- SECTOR FOOTER -->
<div class="card-footer">
    <app-dialog-deduccionCoop (changeDeduccionCoop)="show()"></app-dialog-deduccionCoop>
    <p-confirmDialog [style]="{ width: '450px' }" />
    <!-- NOTIFICACIÓN -->
    <p-toast />
</div>