<!-- ======================================
    VIEW INDEX LOTE-COTIZACION 
======================================= -->
<!-- SECTOR BODY -->
<div class="grid">
    <div class="col-6">
        <h3><span class="prefijoRow">Cotizaciones</span></h3>
    </div>
    <div class="col-6 text-right">
        @if(!loteCotizacion){
        <!-- NUEVO -->
        <p-button *ngIf="hasPermission('06.01.10.01') && lote.estado_lote.codigo == 1" pRipple [outlined]="true"
            [raised]="true" [text]="true" severity="primary" label="Agregar Cotización" icon="pi pi-plus"
            (click)="showCreate()" [style]="{'width':'200px'}" />
        }@else{
        <!-- EDITAR -->
        <p-button *ngIf="hasPermission('06.01.10.03') && lote.estado_lote.codigo == 1" pRipple [outlined]="true"
            [raised]="true" [text]="true" severity="primary" label="Editar Cotización" icon="pi pi-pencil"
            (click)="showEdit()" [style]="{'width':'200px'}" />
        }
    </div>
</div>
<hr>

<div *ngIf="!loading">
    <h5>Cotizaciones Quincenales ({{loteCotizacion ? (loteCotizacion.cotizacion15.fecha | date:'dd-MM-yyyy'):'' }})</h5>
    <hr>
    <p-table [value]="loteCotizacion ? loteCotizacion.cotizacion15.cotizacion_mineral:[]" [rowHover]="true"
        dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 40%">MINERAL</th>
                <th style="width: 20%">COTIZACIÓN</th>
                <th style="width: 20%">UNIDAD-MEDIDA</th>
                <th style="width: 20%">REGALIA (%)</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cotizacion15>
            <tr>
                <td>
                    {{cotizacion15.mineral.nombre}} &nbsp;
                    ({{cotizacion15.mineral.abreviatura}})
                </td>
                <td>
                    {{cotizacion15.valorCotizacion}}
                </td>
                <td>
                    {{cotizacion15.unidad_medida.abreviatura}}
                </td>
                <td>
                    {{cotizacion15.valorRegalia}} %
                </td>
            </tr>
        </ng-template>
    </p-table>
    <hr>

    <h5>Cotizaciones Diarias ({{loteCotizacion ? (loteCotizacion.cotizacion.fecha | date:'dd-MM-yyyy'):''}})</h5>
    <hr>
    <p-table [value]="loteCotizacion ? loteCotizacion.cotizacion.cotizacion_mineral:[]" dataKey="id"
        [tableStyle]="{'width': '100%'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 40%">MINERAL</th>
                <th style="width: 20%">COTIZACIÓN</th>
                <th style="width: 40%">UNIDAD-MEDIDA</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cotizacion>
            <tr>
                <td>
                    {{cotizacion.mineral.nombre}} &nbsp;
                    ({{cotizacion.mineral.abreviatura}})
                </td>
                <td>
                    {{cotizacion.valorCotizacion}}
                </td>
                <td>
                    {{cotizacion.unidad_medida.abreviatura}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <hr>
    <div class="field grid">
        <div class="col-10 text-right pt-3">
            <label for="divisa">
                DOLAR (US$):
            </label>
        </div>
        <div class="col-2">
            <input type="text" pInputText id="divisa"
                [value]="(loteCotizacion ? loteCotizacion.cotizacion.cotizacion_divisa[0].valor:'')+' Bs.'"
                class="w-full" [disabled]="true">
        </div>
    </div>
</div>

<!-- LOADING -->
<div *ngIf="loading">
    <div class="card  mt-3 flex flex-column justify-content-center align-items-center" style="height: 30vh;">
        <p-progressSpinner ariaLabel="loading" />
        <span class="loader ps-5">Cargando...</span>
    </div>
</div>


<!-- SECTOR FOOTER -->
<app-dialog-loteCotizacion (changeLoteCotizacion)="show()"></app-dialog-loteCotizacion>
<p-confirmDialog [style]="{ width: '450px' }" />
<!-- NOTIFICACIÓN -->
<p-toast />