<!-- =================================
            VIEW ABOUT
================================== -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">

    <!-- TITULO -->
    <div class="font-bold text-3xl">
        <span class="text-900">MINEXA S.R.L. </span>
        <span class="text-blue-600">Conocenos</span>
    </div>
    <div class="text-700 mb-3">Contribuyendo al desarrollo del Pais...</div>

    <!-- LOGO -->
    <div class="text-center mb-5">
        <div class="surface-section px-4 py-4 md:px-3 lg:px-4">
            <div class="text-700 text-center">
                <p-image src="assets/img/welcome/logo.png" alt="Cobre" width="600" />
                <div class="text-900 text-3xl my-5">
                    <!-- Comercializamos Minerales desde 1982... -->
                </div>
            </div>
        </div>
    </div>

    <div class="grid flex justify-content-evenly">

        <!-- MISION -->
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 mb-3 inline-block surface-card">
                <p-image src="assets/img/welcome/mision.png" alt="Zinc" width="100" />
            </span>
            <div class="text-blue-600 text-xl mb-3 font-medium">MISIÓN</div>
            <span class="text-700 line-height-3">
                "Facilitar el comercio internacional de minerales mediante prácticas éticas y sostenibles,
                asegurando la calidad y la confiabilidad en cada transacción para satisfacer las necesidades
                globales de nuestros clientes y contribuir al desarrollo económico de nuestro País."
            </span>
        </div>

        <!-- VISIÓN -->
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 mb-3 inline-block surface-card">
                <p-image src="assets/img/welcome/vision.png" alt="Cobre" width="100" />
            </span>
            <div class="text-blue-600 text-xl mb-3 font-medium">VISIÓN</div>
            <span class="text-700 line-height-3">
                "Convertirnos en líderes reconocidos a nivel mundial en el comercio de minerales,
                impulsando la innovación en logística y tecnología para optimizar la cadena de suministro global,
                y estableciendo estándares de excelencia en sostenibilidad y responsabilidad social corporativa."
            </span>
        </div>
    </div>

    <!-- HISTORIA -->
    <div class="surface-card p-4 mt-5">
        <div class="text-blue-600 text-xl mb-3 font-medium">HISTORIA</div>
        <div style="height: auto" class="border-2 border-round surface-border p-7 text-justify">
            <p>
                En la histórica ciudad de Potosí, rodeada por las majestuosas montañas andinas y marcada por su legado
                minero desde la época colonial, se gestó la historia de MINEXA S.A., una empresa que jugaría un papel
                crucial en la comercialización de minerales en la región y más allá.
                Todo comenzó con Diego Morales, un ingeniero de minas boliviano con profundos vínculos familiares con la
                industria minera de Potosí. Diego, inspirado por el rico patrimonio minero de su ciudad natal y con una
                visión de modernizar las prácticas comerciales, decidió establecer MINEXA S.A. en 2003. Aprovechando su
                experiencia en la gestión de proyectos mineros y su conocimiento del mercado local e internacional,
                Diego se propuso establecer relaciones estratégicas con las cooperativas mineras locales y las grandes
                compañías mineras que operaban en las cercanías.
                Desde sus modestos comienzos en una pequeña oficina en el centro de Potosí, MINEXA S.A. se dedicó a
                asegurar contratos de suministro de minerales como el zinc, la plata y el plomo, aprovechando la rica
                oferta mineral de la región. Diego y su equipo trabajaron arduamente para negociar precios competitivos
                y condiciones favorables para los productores y los compradores internacionales, estableciendo una
                reputación de integridad y eficiencia en el comercio de minerales.
                Con el tiempo, MINEXA S.A. creció significativamente, expandiendo sus operaciones a través de Bolivia y
                estableciendo presencia en mercados internacionales clave. La empresa invirtió en tecnología avanzada
                para mejorar la logística y la gestión de inventarios, garantizando entregas oportunas y eficientes a
                sus clientes en todo el mundo.
                Hoy en día, MINEXA S.A. se ha consolidado como un líder en el comercio de minerales en América Latina,
                contribuyendo al desarrollo económico de Potosí y fortaleciendo la conexión entre las ricas tradiciones
                mineras del pasado y las demandas globales del presente. La visión de Diego Morales y el compromiso de
                MINEXA S.A. con la sostenibilidad y el desarrollo responsable han marcado su camino hacia el éxito
                continuo en la industria minera.
            </p>
        </div>
    </div>
</div>