<!-- =================================
        VIEW DIALOG DEDUCCION
================================== -->
<p-dialog [(visible)]="estado" closeOnEscape="true" closable="true" header="REGISTRO DE DEDUCCIONES" [modal]="true"
    [style]="{'width': '75vw'}" styleClass="p-fluid dialog-responsive custom-header">

    <!-- SECTOR BODY -->
    <ng-template pTemplate="content">
        <hr>
        <div *ngIf="!loading">

            <!-- BODY DETAIL -->
            <div class="card shadow-3">
                <div class="grid">

                    <!-- COL-I -->
                    <div class="col-12 md:col-4 pr-5 text-center">
                        <i class="pi pi-percentage pt-5" style="font-size: 120px"></i>
                    </div>

                    <!-- COL-II -->
                    <div class="col-12 md:col-8 pr-5">

                        <!-- CODIGO -->
                        <div class="field">
                            <label for="codigo">Código</label>
                            <input type="text" pInputText id="codigo" [(ngModel)]="deduccion.codigo" class="w-full" />
                            <small class="p-error" *ngIf="!valCodigo()">Requerido, Alfanumérico de 1-20.</small>
                        </div>

                        <!-- CONCEPTO -->
                        <div class="field">
                            <label for="concepto">Concepto</label>
                            <input type="text" pInputText id="concepto" [(ngModel)]="deduccion.concepto"
                                class="w-full" />
                            <small class="p-error" *ngIf="!valConcepto()">Requerido, Alfanumérico de 1-50.</small>
                        </div>

                        <!-- PORCENTAJE -->
                        <div class="field">
                            <label for="porcentaje">Porcentaje</label>
                            <input type="number" pInputText id="porcentaje" [(ngModel)]="deduccion.porcentaje"
                                class="w-full" step=".01" />
                            <small class="p-error" *ngIf="!valPorcentaje()">Requerido, Numérico.</small>
                        </div>

                        <!-- VOLUNTARIO -->
                        <div class="field flex justify-content-end">
                            <label for="voluntario" class="pr-3">Voluntario</label>
                            <p-checkbox [(ngModel)]="deduccion.voluntario" [binary]="true" inputId="voluntario" />
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- BODY FOOTER -->
            <div>
                <p>
                    <b>USUARIO: </b> {{usuario.persona.nombre}} {{usuario.persona.apePaterno}}
                    {{usuario.persona.apeMaterno}}<br>
                    <b>FECHA: </b> {{ fechaHora | date:'dd/MM/yyyy' }}
                    <b>HORA: </b> {{ fechaHora | date:'HH:mm:ss' }}
                </p>
            </div>
        </div>
        <!-- LOADING -->
        <div *ngIf="loading">
            <div class="card  mt-3 flex flex-column justify-content-center align-items-center" style="height: 30vh;">
                <p-progressSpinner ariaLabel="loading" />
                <span class="loader ps-5">Cargando...</span>
            </div>
        </div>
    </ng-template>

    <!-- SECTOR FOOTER -->
    <ng-template pTemplate="footer">
        <div class="grid custom-footer">
            <div class="col-6 text-left">
                <div *ngIf="saving">
                    <h5>Guardando...</h5>
                    <span class="saving"></span>
                </div>
            </div>
            <div class="col-6">
                <p-button pRipple label="Guardar" icon="pi pi-check" [text]="true" [raised]="true" severity="primary"
                    [hidden]="saving" (click)="save()" />
                <p-button pRipple label="Cancelar" icon="pi pi-times" [text]="true" [raised]="true" severity="warning"
                    (click)="cancel()" />
            </div>
        </div>
    </ng-template>
</p-dialog>