<!-- ======================================
    VIEW INDEX COSTO 
======================================= -->
<!-- SECTOR BODY -->
<div class="grid">
    <div class="col-6">
        <h3><span class="prefijoRow">Deducciones</span></h3>
    </div>
    <div class="col-6 text-right">
        @if(!loteDeducciones.length){
        <!-- NUEVO -->
        <p-button *ngIf="hasPermission('06.01.09.01') && lote.estado_lote.codigo == 1" pRipple [outlined]="true"
            [raised]="true" [text]="true" severity="primary" label="Agregar Deducciones" icon="pi pi-plus"
            (click)="showCreate()" [style]="{'width':'200px'}" />
        }@else{
        <!-- EDITAR -->
        <p-button *ngIf="hasPermission('06.01.09.03') && lote.estado_lote.codigo == 1" pRipple [outlined]="true"
            [raised]="true" [text]="true" severity="primary" label="Editar Deducciones" icon="pi pi-pencil"
            (click)="showEdit()" [style]="{'width':'200px'}" />
        }
    </div>
</div>
<hr>

<div *ngIf="!loading">
    <h5>Deducciones Generales</h5>
    <hr>
    <p-table [value]="loteDeducciones" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 20%">CODIGO</th>
                <th style="width: 60%">CONCEPTO</th>
                <th style="width: 20%">PORCENTAJE</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loteDeduccion>
            <tr>
                <td>{{loteDeduccion.deduccion.codigo}}</td>
                <td>{{loteDeduccion.deduccion.concepto}}</td>
                <td>{{loteDeduccion.deduccion.porcentaje}} %</td>
            </tr>
        </ng-template>
    </p-table>
    <hr>
    <h5>Deducciones Cooperativa</h5>
    <hr>
    <p-table [value]="loteDeduccionesCoop" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 20%">CODIGO</th>
                <th style="width: 60%">CONCEPTO</th>
                <th style="width: 20%">PORCENTAJE</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loteDeduccionCoop>
            <tr>
                <td>{{loteDeduccionCoop.deduccion_coop.codigo}}</td>
                <td>{{loteDeduccionCoop.deduccion_coop.concepto}}</td>
                <td>{{loteDeduccionCoop.deduccion_coop.porcentaje}} %</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- LOADING -->
<div *ngIf="loading">
    <div class="card  mt-3 flex flex-column justify-content-center align-items-center" style="height: 30vh;">
        <p-progressSpinner ariaLabel="loading" />
        <span class="loader ps-5">Cargando...</span>
    </div>
</div>


<!-- SECTOR FOOTER -->
<app-dialog-loteDeduccion (changeLoteDeduccion)="show()"></app-dialog-loteDeduccion>
<p-confirmDialog [style]="{ width: '450px' }" />
<!-- NOTIFICACIÓN -->
<p-toast />