<!-- =================================
        VIEW INDEX DEDUCCIÓN
================================== -->
<!-- SECTOR HEADER -->
<div class="card-header shadow-5">
    <h3>Gestión de Deducciones</h3>
</div>
<hr>

<!-- SECTOR BODY -->
<div *ngIf="!loading">
    <div class="card-body shadow-5">
        <!-- BODY DETAIL -->
        <!-- TABLE -->
        <p-table #dt [value]="deducciones" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
            [globalFilterFields]="['codigo','concepto', 'porcentaje']" [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <!-- TABLE BUTTONS -->
            <ng-template pTemplate="caption">
                <div class="grid">
                    <div class="col-12 sm:col-8">
                        <!-- NUEVO -->
                        <p-button *ngIf="hasPermission('05.03.01')" pRipple [outlined]="true" [raised]="true"
                            severity="primary" label="Nuevo" icon="pi pi-plus" class="ml-2" (click)="showCreate()" />
                        <!-- REPORTE -->
                        <p-button *ngIf="hasPermission('05.03.07')" pRipple [outlined]="true" [raised]="true"
                            [text]="true" severity="info" label="Reporte XLS" icon="pi pi-print" class="ml-2"
                            (click)="exportXLS()" />
                    </div>
                    <div class="col-12 sm:col-4 text-right">
                        <!-- BUSCAR -->
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..."
                                class="w-full" />
                        </span>
                    </div>
                </div>
            </ng-template>

            <!-- TABLE-HEADER -->
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id" style="width:10%" class="text-center">
                        FOTO <p-sortIcon field="id" />
                    </th>
                    <th pSortableColumn="codigo" style="width:20%">
                        CODIGO <p-sortIcon field="codigo" />
                    </th>
                    <th pSortableColumn="concepto" style="width:30%">
                        CONCEPTO <p-sortIcon field="concepto" />
                    </th>
                    <th pSortableColumn="porcentaje" style="width:20%">
                        PORCENTAJE <p-sortIcon field="porcentaje" />
                    </th>
                    <th style="width:20%;">
                        OPCIONES
                    </th>
                </tr>
            </ng-template>

            <!-- TABLE BODY -->
            <ng-template pTemplate="body" let-deduccion>
                <tr>
                    <td class="flex justify-content-center">
                        <div class="text-center"
                            style="padding: 10px; border: 2px solid #dcdcdc; border-radius: 50%; width: 60px;height: 60px;">
                            <i class="pi pi-percentage" style="font-size: 30px"></i>
                        </div>
                    </td>
                    <td>{{ deduccion.codigo }}</td>
                    <td>{{ deduccion.concepto }}</td>
                    <td>{{ deduccion.porcentaje }} %</td>
                    <td>
                        <p-button *ngIf="hasPermission('05.03.02')" pRipple icon="pi pi-eye" class="mr-2"
                            [rounded]="true" [outlined]="true" severity="info" (click)="showShow(deduccion.id)" />
                        <p-button *ngIf="hasPermission('05.03.03')" pRipple icon="pi pi-pencil" class="mr-2"
                            [rounded]="true" [outlined]="true" severity="success" (click)="showEdit(deduccion.id)" />
                        <p-button *ngIf="hasPermission('05.03.04')" pRipple icon="pi pi-trash" severity="danger"
                            [rounded]="true" [outlined]="true" (click)="showDelete(deduccion.id)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<hr>

<!-- SECTOR FOOTER -->
<div class="card-footer">
    <app-dialog-deduccion (changeDeduccion)="show()"></app-dialog-deduccion>
    <p-confirmDialog [style]="{ width: '450px' }" />
    <!-- NOTIFICACIÓN -->
    <p-toast />
</div>

<!-- LOADING -->
<div *ngIf="loading">
    <div class="card  mt-3 flex flex-column justify-content-center align-items-center" style="height: 30vh;">
        <p-progressSpinner ariaLabel="loading" />
        <span class="loader ps-5">MINEXA S.R.L.</span>
    </div>
</div>