<!-- =================================
        VIEW DIALOG COSTO
================================== -->
<p-dialog [(visible)]="estado" closeOnEscape="true" closable="true" header="REGISTRO DE COTIZACIONES" [modal]="true"
    [draggable]="false" styleClass="p-fluid dialog-responsive custom-header">

    <!-- SECTOR BODY -->
    <ng-template pTemplate="content">
        <div class="card-body shadow-3">
            <h5>Últimas Cotizaciones Quincenales</h5>
            <hr>
            <p-table [value]="cotizacion15Minerales" [(selection)]="selectedCot15" dataKey="id"
                [tableStyle]="{'width': '100%'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 30%">MINERAL</th>
                        <th style="width: 20%">COTIZACIÓN</th>
                        <th style="width: 20%">REGALIA</th>
                        <th style="width: 20%">UNIDAD-MEDIDA</th>
                        <th style="width: 10%" class="text-center"><p-tableHeaderCheckbox />
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cotizacion>
                    <tr>
                        <td>
                            {{cotizacion.nombre}} &nbsp; ({{cotizacion.abreviatura}})
                        </td>
                        <td>
                            {{cotizacion.cotizacion15.valorCotizacion}}
                        </td>
                        <td>
                            {{cotizacion.cotizacion15.valorRegalia}}
                        </td>
                        <td>
                            {{cotizacion.cotizacion15.unidad_medida.abreviatura}}
                        </td>
                        <td class="text-center">
                            <p-tableCheckbox [value]="cotizacion" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <hr>

        <div class="card-body shadow-3">
            <h5>Últimas Cotizaciones Diarias</h5>
            <hr>
            <p-table [value]="cotizacionMinerales" [(selection)]="selectedCot" dataKey="id"
                [tableStyle]="{'width': '100%'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 30%">MINERAL</th>
                        <th style="width: 40%">COTIZACIÓN</th>
                        <th style="width: 20%">UNIDAD-MEDIDA</th>
                        <th style="width: 10%" class="text-center"><p-tableHeaderCheckbox />
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cotizacion>
                    <tr>
                        <td>
                            {{cotizacion.nombre}} &nbsp; ({{cotizacion.abreviatura}})
                        </td>
                        <td>
                            {{cotizacion.cotizacion.valorCotizacion}}
                        </td>
                        <td>
                            {{cotizacion.cotizacion.unidad_medida.abreviatura}}
                        </td>
                        <td class="text-center">
                            <p-tableCheckbox [value]="cotizacion" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <hr>
        <div class="field grid">
            <div class="col-8 text-right pt-3">
                <label for="divisa">{{cotizacionDivisa.nombre}} &nbsp; ({{cotizacionDivisa.abreviatura}}):
                </label>
            </div>
            <div class="col-4">
                <input type="text" pInputText id="divisa" [value]="(cotizacionDivisa.cotizacion.valor)+' Bs.'"
                    class="w-full" [disabled]="true">
            </div>
        </div>
    </ng-template>

    <!-- SECTOR FOOTER -->
    <ng-template pTemplate="footer">
        <div class="grid custom-footer">
            <div class="col-6 text-left">
                <div *ngIf="saving">
                    <h5>Guardando...</h5>
                    <span class="saving"></span>
                </div>
            </div>
            <div class="col-6">
                <p-button pRipple label="Guardar" icon="pi pi-check" [text]="true" [raised]="true" severity="primary"
                    [hidden]="saving" (click)="save()" />
                <p-button pRipple label="Cancelar" icon="pi pi-times" [text]="true" [raised]="true" severity="warning"
                    (click)="cancel()" />
            </div>
        </div>
    </ng-template>
</p-dialog>